header {
  background-color: var(--dark-green);
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

header .logo img {
  height: 80px;
  margin-right: 1rem;
}

header .logo {
  display: flex;
  align-items: center;
}

header .logo span {
  font-size: 48px;
  font-family: var(--font-site-name);
  text-transform: uppercase;
  letter-spacing: 5%;
}

header nav ul {
  display: flex;
  list-style: none;
  justify-content: space-between;
}

header nav a {
  font-size: 48px;
  transition: all 0.2s;
}

header nav ul li {
  margin-left: 95px;
}

header nav a:hover {
  color: var(--light-green);
}
