.right-accounts-bar {
  height: var(--body-height);
  background-color: var(--transparent-dark-green);
  flex-basis: 15vw;
  color: white;
  text-align: left;
}

.totalExpenses span {
  color: #ff9696;
}
